<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success!</title>
</head>

<body>
    <main>
        <img src="https://partner-engineering-cdn.atl-paas.net/celebration.svg" alt="Success!">
        <h1>Success!</h1>
        <p>Your {{product}} account was connected with VS Code.</p>
        <p>
            <a href="{{vscodeurl}}" class="ac-button ac-button__appearance-primary">
                Back to VS Code
            </a>
        </p>
    </main>
</body>
<!-- <script>
  setTimeout(function() {
    top.window.close();
  }, 2000);
  </script> -->
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        color: #172B4D;
        text-align: center;
    }

    main {
        margin: 48px auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 160px;
    }

    h1 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.008em;
    }

    p {
        font-size: 14px;
        letter-spacing: -0.005em;
        line-height: 20px;
    }

    .ac-button {
        align-items: baseline;
        box-sizing: border-box;
        border-radius: 3px;
        border-width: 0;
        display: inline-flex;
        font-style: normal;
        font-size: inherit;
        height: 2.28571429em;
        line-height: 2.28571429em;
        margin: 0;
        outline: none;
        padding: 0 12px;
        text-align: center;
        transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }

    .ac-button:hover {
        cursor: pointer;
        transition: background 0s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    }

    .ac-button:active {
        transition-duration: 0s;
    }

    .ac-button:focus {
        outline: none;
        transition-duration: 0s, 0.2s;
    }

    .ac-button[disabled] {
        cursor: not-allowed;
    }

    .ac-button__appearance-primary {
        background: #0052CC;
        color: #FFFFFF;
        text-decoration: none;
    }

    .ac-button__appearance-primary:hover {
        background: #0065FF;
    }

    .ac-button__appearance-primary:active {
        background: #0747A6;
        color: #FFFFFF;
    }

    .ac-button__appearance-primary:focus {
        box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
    }

    .ac-button__appearance-primary[disabled],
    .ac-button__appearance-primary[disabled]:active,
    .ac-button__appearance-primary[disabled]:hover {
        background: #0052CC;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }

    .ac-button__appearance-primary[disabled]:focus,
    .ac-button__appearance-primary[disabled]:active:focus,
    .ac-button__appearance-primary[disabled]:hover:focus {
        box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
    }
</style>

</html>