/*-------------------- BEGIN - general containers --------------------*/

p {
  color: var(--vscode-foreground);
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--color--50);
  margin-top: 1em;
  margin-bottom: 1em;
}

pre {
  white-space: pre-wrap;
}

.force-wrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.fade-in {
  animation-duration: 1s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ac-flex-space-between {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ac-flex {
  display: inline-flex;
  align-items: center;
}

.ac-inline-flex-hpad {
  display: inline-flex;
  align-items: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.ac-hmargin {
  margin-left: 10px;
  margin-right: 10px;
}

.ac-vpadding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ac-block-centered {
  display: block;
  text-align: center;
  margin: 20px;
}

/* [class^=GridColumnElement__GridColumn] {
  margin: 0px!important;
} */

/* used to display svg images with labels like Jira priority */

.ac-icon-with-text {
  height: 2em;
  display: flex;
  align-items: center;
}

/*-------------------- END - general containers --------------------*/

/*-------------------- BEGIN - page header --------------------*/

[class^=styled__StyledTitle-] p {
  margin: 0px;
  color: var(--vscode-editor-foreground);
}

[class^=styled__StyledTitle-] {
  margin: 0px;
}

/*-------------------- END - page header --------------------*/

/*-------------------- BEGIN - panels --------------------*/

[class^=styledPanel__PanelHeader] h3 {
  margin: 5px;
}

.vscode-dark [class^=styledPanel__PanelHeader] {
  background: var(--vscode-editor-background--lighten-05);
}

.vscode-dark [class^=styledPanel__PanelHeader]:hover {
  background: var(--vscode-editor-background--lighten-05);
}

.vscode-light [class^=styledPanel__PanelHeader] {
  background: var(--vscode-editor-background--darken-05)
}

.vscode-light [class^=styledPanel__PanelHeader]:hover {
  background: var(--vscode-editor-background--darken-05)
}

[class^=styledPanel__ButtonWrapper] [class^=Icon__IconWrapper] {
  color: var(--vscode-foreground) !important;
}

.inlinePanelHeader {
  display: inline-block;
}

.inlinePanelSubheading {
  display: inline-block;
  margin-left: 15px;
  color: var(--vscode-input-placeholderForeground) !important;
  font-style: italic;
}

/*-------------------- END - panels --------------------*/

/*-------------------- BEGIN - modal dialogs --------------------*/

[class^=Modal__Dialog] {
  background: var(--vscode-editor-background) !important
}

/*-------------------- END - modal dialogs --------------------*/

/*-------------------- BEGIN - Issue creation trigger list --------------------*/

div#trigger-row {
  display: flex;
  align-items: center;
  margin-top: 8pt;
  margin-bottom: 8pt;
  padding-right: 3pt;
  height: 3em;
  background-color: var(--vscode-input-background);
  border: 1px solid var(--vscode-settings-textInputBorder) !important;
}

input#jira-todoTrigger-input {
  flex-grow: 100;
  margin-right: 3pt;
  margin-left: 3pt;
  border: none !important;
}

/*-------------------- END - Issue creation trigger list --------------------*/

/*-------------------- BEGIN - JQL configuration list --------------------*/

div#jql-row-container {
  margin-top: 2pt;
  margin-bottom: 2pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
  -ms-flex-align: center;
  align-items: center;
  height: 3em;
  background-color: transparent
}

div#jql-row {
  color: var(--vscode-input-foreground);
  height: 100%;
  padding-left: 3pt;
  padding-right: 3pt;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--vscode-input-background);
  border: 1px solid var(--vscode-settings-textInputBorder) !important;
}

div#jql-row-drop-overlay {
  width: 100%;
  height: 100%;
  z-index: 1
}

div#empty-jql-row {
  background-color: transparent;
  height: 100%;
  border: 1pt;
  border-style: solid;
  border-color: var(--vscode-button-hoverBackground)
}

/*-------------------- END - JQL configuration list --------------------*/

/*-------------------- BEGIN - JQL Editor --------------------*/

[class^=Content-] {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
  border: 1px solid var(--vscode-dropdown-border) !important;
}

[class^=SingleLineTextInput] {
  outline: 0px !important;
}

[class^=Droplist__Content] {
  background: var(--vscode-sideBar-background) !important
}

[class^=Item__Span] {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important
}

[class^=Item__Span]:hover {
  background: var(--vscode-list-focusBackground) !important;
  color: var(--vscode-dropdown-foreground) !important;
}

/*-------------------- END - JQL Editor --------------------*/

/*-------------------- BEGIN - section messages --------------------*/

section[class^=styled__Container-], section[class^=styled__Container-] h1, section[class^=styled__Container-] p {
  color: #4c4c4c !important;
  margin: 6px;
}

/*-------------------- END - section messages --------------------*/

/*-------------------- BEGIN - inline dialog --------------------*/

.ac-inline-dialog [class^=styled__Container-] {
  background: var(--vscode-editor-background--lighten-05);
}

/*-------------------- END - inline dialog --------------------*/

/*-------------------- BEGIN - general form fields --------------------*/

[class^=Field__FieldWrapper-] {
  width: 100%;
}

/*-------------------- END - general form fields --------------------*/

/*-------------------- BEGIN - form field labels --------------------*/

[class^=Checkbox__Label], [class^=Field__Label], [class^=Label__LabelWrapper-], [class^=Label__LabelInner-], [class^=Modal__Dialog], [class^=Radio__Label] {
  color: var(--vscode-foreground) !important
}

/*-------------------- END - form field labels --------------------*/

/*-------------------- BEGIN - buttons --------------------*/

.ac-button {
  background: var(--vscode-button-background) !important
}

.ac-button span {
  color: var(--vscode-button-foreground) !important
}

.ac-button:hover {
  background: var(--vscode-button-hoverBackground) !important
}

.ac-button:active {
  background: var(--vscode-button-background--darken-05) !important;
  color: var(--vscode-button-foreground) !important
}

.ac-button:disabled {
  background: var(--vscode-button-background--50) !important
}

/*-------------------- END - buttons --------------------*/

/*-------------------- BEGIN - links --------------------*/

.vscode-light .ac-link-button:hover, .vscode-light .ac-link-button>span {
  color: var(--vscode-textlink-foreground) !important
}

.vscode-dark .ac-link-button:hover, .vscode-dark .ac-link-button>span {
  color: var(--vscode-foreground) !important
}

.ac-link-button>button {
  padding: 0 !important
}

/* links inside of banners with colored backgrounds */

.ac-banner-link-button:hover, .ac-banner-link-button>span {
  text-decoration: underline;
}

.ac-banner-link-button>button {
  padding: 0 !important
}

/*-------------------- END - links --------------------*/

/*-------------------- BEGIN - form input/text --------------------*/

.ac-inputField {
  display: block;
}

.ac-inputField-inline {
  display: inline-block;
}

.ac-inputField, .ac-inputField-inline, .ac-textarea {
  background: var(--vscode-input-background) !important;
  color: var(--vscode-input-foreground) !important;
  font: inherit;
  width: inherit;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid var(--vscode-settings-textInputBorder) !important;
  outline: 0 !important
}

.ac-inputField:focus, .ac-inputField-inline:focus, .ac-textarea:focus {
  border-color: var(--vscode-focusBorder) !important;
}

.ac-inputField::-webkit-input-placeholder, .ac-inputField-inline::-webkit-input-placeholder, .ac-textarea::-webkit-input-placeholder {
  color: var(--vscode-input-placeholderForeground) !important
}

.ac-inputField::-ms-input-placeholder, .ac-inputField-inline::-ms-input-placeholder, .ac-textarea::-ms-input-placeholder {
  color: var(--vscode-input-placeholderForeground) !important
}

.ac-inputField::placeholder, .ac-inputField-inline::placeholder, .ac-textarea::placeholder {
  color: var(--vscode-input-placeholderForeground) !important
}

.refreshInterval {
  margin-top: 10px;
  color: var(--vscode-foreground) !important;
}

/*-------------------- END - form input/text --------------------*/

/*-------------------- BEGIN - select boxes --------------------*/

.ac-select__control {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-dropdown-foreground) !important;
  border: 1px solid var(--vscode-settings-textInputBorder) !important
}

.ac-select__control--is-focused, .ac-select__control:hover {
  border-color: var(--vscode-focusBorder) !important
}

.ac-select__indicator, .ac-select__input, .ac-select__menu, .ac-select__menu-list, .ac-select__single-value {
  background: var(--vscode-dropdown-background) !important;
  color: var(--vscode-input-foreground) !important;
}

.ac-select__multi-value__label {
  background: var(--vscode-dropdown-foreground) !important;
  font-size: 100% !important;
}

.ac-select__option {
  cursor: pointer !important
}

.ac-select__placeholder {
  color: var(--vscode-input-placeholderForeground) !important
}

.ac-select__option--is-focused {
  background: var(--vscode-list-focusBackground) !important;
  color: var(--vscode-list-focusForeground) !important
}

.ac-select__option--is-selected {
  background: var(--vscode-list-activeSelectionBackground) !important;
  color: var(--vscode-list-activeSelectionForeground) !important
}

.ac-select__menu {
  border: 1px solid var(--vscode-focusBorder) !important;
  border-radius: 2px !important
}

.ac-select__value-container {
  padding: 0 !important
}

/*-------------------- END - select boxes --------------------*/

/*-------------------- BEGIN - checkboxes/radios --------------------*/

[class^=Checkbox__IconWrapper-], [class^=Radio__IconWrapper-] {
  color: var(--vscode-button-background) !important
}

[class^=Checkbox__IconWrapper-] rect, [class^=Radio__IconWrapper-] circle {
  stroke: var(--vscode-button-background) !important
}

/*-------------------- END - checkboxes/radios --------------------*/

/*-------------------- BEGIN - calendar controls --------------------*/

[class^=Calendar__Wrapper] {
  background: var(--vscode-dropdown-background) !important;
  border: 1px solid var(--vscode-focusBorder) !important
}

[class^=Calendar__CalendarTh], [class^=Calendar__Wrapper], [class^=Date__DateDiv], [class^=Heading__MonthAndYear] {
  color: var(--vscode-dropdown-foreground) !important
}

[class^=Date__DateDiv] {
  background: var(--vscode-dropdown-background) !important
}

[class^=Date__DateDiv]:hover {
  background: var(--vscode-list-focusBackground) !important;
  color: var(--vscode-list-focusForeground) !important
}

[class^=Date__DateDiv]:disabled {
  background: var(--vscode-list-focusBackground) !important;
  color: red !important
}

[class^=Calendar__Wrapper]>[class^=Icon__IconWrapper] {
  color: var(--vscode-dropdown-foreground) !important
}

[class^=DateTimePicker__Flex-] {
  background: var(--vscode-dropdown-background) !important;
  border: 1px solid var(--vscode-settings-textInputBorder) !important
}

/*-------------------- END - calendar controls --------------------*/

/*-------------------- BEGIN - PR branch lozenges --------------------*/

.ac-branch-lozenge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  max-width: 100%;
  vertical-align: baseline;
  border-radius: 3px;
  padding: 2px 4px;
}

.vscode-dark .ac-branch-lozenge {
  background-color: var(--vscode-button-background--50);
  color: var(--vscode-button-foreground);
  border: 1px solid var(--vscode-settings-textInputBorder)
}

.vscode-light .ac-branch-lozenge {
  background-color: var(--vscode-button-background--75);
  color: var(--vscode-button-foreground);
  border: 1px solid var(--vscode-settings-textInputBorder)
}

.ac-branch-lozenge, .ac-branch-lozenge__Text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ac-branch-lozenge__Text {
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
}

/*-------------------- END - PR branch lozenges --------------------*/

/*-------------------- BEGIN - Create PR branch boxes --------------------*/

.ac-compare-widget-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.ac-compare-widget-container .ac-flex-space-between {
  width: 100%;
}

.ac-compare-widget {
  width: 100%;
}

.ac-compare-widget+.ac-compare-widget {
  margin-left: 40px;
}

.ac-compare-widget-break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.ac-compare-widget-item {
  position: relative;
  border: 1px solid var(--vscode-settings-textInputBorder);
  border-radius: 5px;
  padding: 10px 10px 10px 10px
}

.ac-compare-widget-select-container {
  width: 100%;
}

/*-------------------- END - Create PR branch boxes --------------------*/

/*-------------------- BEGIN - Avatars --------------------*/

[class^="styledCache__StyledSpan"] {
  background: var(--vscode-editor-background) !important;
  color: var(--vscode-editor-foreground) !important;
}

[class^="AvatarItem__"] {
  color: var(--vscode-editor-foreground) !important;
}

/*-------------------- END - Avatars --------------------*/

/*-------------------- BEGIN - Jira Comments --------------------*/

.jira-comment {
  color: var(--vscode-editor-foreground)
}

.jira-comment-author {
  color: var(--vscode-editor-foreground)
}

/*-------------------- END - Jira Comments --------------------*/

/*-------------------- BEGIN - Start Work On Issue Styles --------------------*/

.jira-issue-copy-icon {
  margin-left: 10px;
  display: none;
}

.jira-issue-copy-icon:hover {
  display: block;
  cursor: pointer;
}

.jira-issue-key {
  display: inline-flex;
  align-items: center;
}

.jira-issue-key:hover .jira-issue-copy-icon {
  display: block;
}

.branch-container {
  /* display: flex; */
  flex-direction: row;
  align-items: stretch;
}

.branch-container .prefix-container {
  border: solid var(--vscode-settings-textInputBorder) !important;
  border-right-width: 0px !important;
  flex-grow: 1;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
}

/*-------------------- END - Start Work On Issue Styles --------------------*/

/*-------------------- BEGIN - Pipelines --------------------*/

.pipeline-head {
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  padding: 0.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.pipeline-head-item {
  margin-left: 0.25em;
  margin-right: 0.25em;
  display: inline-flex;
  align-items: center;
}

.pipeline-head div {
  float: right;
  box-sizing: border-box;
}

.pipeline-step-title {
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.pipeline-step-head {
  font-size: 1.25em;
  font-weight: bold;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.pipeline-step-subhead {
  font-size: 1em;
  font-weight: bold;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.pipeline-command {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre.pipeline-logs {
  white-space: pre-wrap;
}

.pipeline-command-panels {
  margin-left: 24px;
}

.pipeline-step-panel {
  margin-left: 24px;
}

/*-------------------- END - Pipelines --------------------*/

/*-------------------- BEGIN - Comments --------------------*/

.ac-comments [class^="LayoutStyles__Container"] {
  padding-top: 0px !important;
}

/*-------------------- END - Comments --------------------*/

/* 
  This is a specific fix for auth issues when trying to load images that are attached to bitbucket PR comments.
img::after is triggered only if img loading fails */

.bitbucket-page img::after {
  content: '⚠️ Error loading the image - please open the pull request on bitbucket.org to view the image.' !important;
}

.problem-table {
  width: 100%;
  border-collapse: collapse
}

.problem-table table, td, th, tr {
  padding: 5px;
  border: 1px solid var(--vscode-panel-border)
}

.problem-table th {
  background: var(--vscode-list-activeSelectionBackground)!important;
  color: var(--vscode-list-activeSelectionForeground)!important;
  white-space: nowrap
}

.problem-table th, td {
  padding: 5px
}

.problem-table tr.issuetype-row {
  background-color: var(--vscode-sideBarSectionHeader-background);
}

.field-problem-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.field-problem-table tr:nth-child(odd) {
  background-color: var(--vscode-list-hoverBackground)
}

/* uncomment these to see borders on grid layouts */

/* [class^=GridElement__Grid] {
  border: 3px solid red
}

[class^=GridColumnElement__GridColumn] {
  border: 2px solid blue;
} */